# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Temp file generated for tests
test/tmp/*.*
src/Makefile
#Flex and bison temp files
test/*~
test/*.out
test/*.res
test/*/*~
test/*/*.out
test/*/*.res
*~ 
src/tp.exe* 
src/./tp 
src/*.o 
src/tp_l.* 
src/tp_y.* 
src/test_lex 
src/main_test 
